@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: "Roboto", sans-serif;
}/* globals.css ou Statistique.css */
body {
  @apply bg-gray-200/90 h-full;
}

